form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
  }
  
  input,
  textarea {
    padding: 5px;
    margin-left: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0055cc;
  }
  